.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}
.list-view .list-cell {
	-fx-text-fill: white;
	-fx-font-size: 18.0;
}
.list-view .list-cell:even {
-fx-background-color: #000000;
}
.list-view .list-cell:odd {
-fx-background-color: #181818;
}